// Your custom styles
@import "_custom-variables";

/* Typography */
.blue-text-nav{
    color: $blue-text;
}
.active-blue-text-nav{
    color: $light-blue-text;
}
.dark-blue-text {
    color: $dark-blue-text;
}
.sub-text {
    color: $sub-text;
}
/* Typography */

/* Hover Effect */
.fa-hover:hover{
    color: $fa-hover-blue;
}
/* Hover Effect */

html,
body {
    height: 100%;
}

header {
    height: 100%;
    .view {
        min-height: 100%;
        background-image: url(../img/header-banner-regular.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}