/* Typography */
.blue-text-nav {
  color: #697CA6;
}

.active-blue-text-nav {
  color: #5E81FE;
}

.dark-blue-text {
  color: #3D4F9F;
}

.sub-text {
  color: #8D96BD;
}

/* Typography */
/* Hover Effect */
.fa-hover:hover {
  color: #6188FF;
}

/* Hover Effect */
html,
body {
  height: 100%;
}

header {
  height: 100%;
}

header .view {
  min-height: 100%;
  background-image: url(../img/header-banner-regular.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
